autostart/
azote/
Bitwarden/
bleachbit/
cef_user_data
Code - OSS/
dconf/
deluge/
discord/
falkon/
fontforge/
garuda/
gh/
glib-2.0/
Kvantum/
libreoffice
lutris/
Vencord/
obs-studio/
psd/
smplayer/
spotify/
stacer/
QtProject/
qt5ct/
vlc/
chromium/
pavucontrol.ini
obsidian/
font-manager/


deadbeef/playlists/
deadbeef/running


gcm-diagnose.log

